<div class="container mt-5">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold text-dark">BIENVENIDOS A TU MESA A UN SOLO CLICK</h1>
  </div>

  <div class="row justify-content-center g-4">
    <!-- Pedidos -->
    <div class="col-md-4">
      <div class="card border-0 shadow-lg h-100">
        <div class="card-body text-center">
          <i class="bi bi-clipboard-check display-4 text-primary mb-3"></i>
          <h5 class="card-title fw-semibold">Reservas</h5>
          <p class="card-text">Consulta y gestiona las reservas de tus clientes.</p>
          <a routerLink="/reserva2" class="btn btn-color mt-2 w-100">Ver</a>
        </div>
      </div>
    </div>


    <!-- <div class="col-md-4">
      <div class="card border-0 shadow-lg h-100">
        <div class="card-body text-center">
          <i class="bi bi-box-seam display-4 text-secondary mb-3"></i>
          <h5 class="card-title fw-semibold">Recursos</h5>
          <p class="card-text">Consulta y gestiona tus productos en tiempo real.</p>
          <a routerLink="/Vproductos" class="btn btn-secondary mt-2 w-100">Ver Productos</a>
        </div>
      </div>
    </div> -->

    <!-- Clientes -->
    <!-- <div class="col-md-4">
      <div class="card border-0 shadow-lg h-100">
        <div class="card-body text-center">
          <i class="bi bi-people display-4 text-dark mb-3"></i>
          <h5 class="card-title fw-semibold">Clientes</h5>
          <p class="card-text">Administra la información y los datos de tus clientes.</p>
          <a routerLink="/clientes" class="btn btn-dark mt-2 w-100">Ver Clientes</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
